<body>

  <h1>{{title}}</h1>

  <div *ngFor="let user of users">

    <p>id:{{user.id}},name:{{user.name}}, marks:{{user.marks}}, location:{{user.location}}<br> <br>

      <!-- its a update user button which shows form to fill details.. -->
      <button (click)="update(user)">Update User</button> <br> <br>

  </div>

  <br> <br>

  <div *ngIf="showUpdateForm">
    <h2>Update User</h2>
    <form (submit)="updateUser()">
      <input type="text" name="name" [(ngModel)]="showUpdateForm.name" placeholder="Enter Your Name"> <br> <br>
      <input type="text" name="marks" [(ngModel)]="showUpdateForm.marks" placeholder="Enter Your Marks"> <br> <br>
      <input type="text" name="location" [(ngModel)]="showUpdateForm.location" placeholder="Enter Your Location"> <br>
      <br>
      <button type="submit">Update Student</button>

    </form>
  </div>

  <h2>Add Student</h2>
  <form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">

    <input type="text" ngModel name="name" placeholder="Enter Your Name" required> <br> <br>
    <input type="text" ngModel name="marks" placeholder="Enter Your Marks" required> <br> <br>
    <input type="text" ngModel name='location' placeholder="Enter Your Location" required> <br> <br>
    <button type="submit">Add New Student</button>

  </form> <br> <br>
  <input type="number" placeholder="Enter ID to delete User" #userId>

  <button (click)="deleteUser(userId.value)">Delete User</button>
</body>